/.settings/
/.classpath
/.project
/lib/
/bin/
/target/
/01.mp3
/Project_db.sql
/01.mp3.wav
/02.wav
/Achy Breaky Heart.mp3
/Achy Breaky Heart.mp3.wav
/échantillon.wav
/hs_err_pid3540.log
/Klingande.wav
/MagnitudesRomain.mp3.wav.txt
/pom.xml
